/* En esta página se trabajarán los estilos para la sección de proyectos */


.proyectos{
    padding: 2rem;/* espacio dentro de la sección */
    max-width: 100%; /* para limitar el ancho de la sección */
    margin: 0 auto; /* para centrar la sección y agregar espacio alrededor */
    height: 100vh;
    place-content: center;
}

.proyectos h2{
    font-size: 2rem; /* tamaño del título */
    margin-bottom: 2rem; /* espacio debajo del título */
    color: var(--color-titulos); /* color del título */
    font-weight: bold; /* para hacer el título un poco más grueso */
    display: flex; /* para organizar el contenido en una fila */
    justify-content: center; /* para centrar el título horizontalmente */
    align-items: center; /* para alinear verticalmente el título */
}

.proyecto-contenedor{
    display: flex; 
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño (1fr = 1 fracción del espacio) */
    gap: 1.5rem;     /*Espacio entre tarjetas: 20px horizontal y vertical */
    margin-top: 2.5rem; /* espacio superior */
    flex-direction: column; /* Un proyecto debajo de otro en móvil */
    gap: 2rem;
}

.proyecto-contenedor article{
    background-color: var(--fondo-tarjeta); /* color de fondo de cada proyecto */
    border-radius: 1rem; /* para redondear las esquinas de cada proyecto */
    padding: 3rem; /* espacio dentro de cada proyecto */
    text-align:center; /* para centrar el texto dentro de cada proyecto */
}

.proyecto-contenedor article h3{
    font-size: 1.2rem; /* tamaño del título del proyecto */
    margin-bottom: 1.5rem; /* espacio debajo del título del proyecto */
    color: var(--color-titulos); /* color del título del proyecto */
    font-weight: bold; /* para hacer el título del proyecto un poco más grueso */
}

.proyecto-contenedor article p{
    color: var(--color-texto); /* color del texto del proyecto */
    font-size: 1rem; /* tamaño del texto del proyecto */
    line-height: 1.5; /* espacio entre líneas del texto del proyecto */
    margin-bottom: 2rem; /* espacio debajo del texto del proyecto */
}

.proyecto-contenedor article a{
    color: var(--color-texto);/* color del enlace del proyecto */
    text-decoration: none; /* para quitar el subrayado del enlace del proyecto */
    font-weight: 600; /* para hacer el enlace del proyecto un poco más grueso */
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--backgorund-btn-incio);
    margin-top: auto;
}

.proyecto-contenedor article a:hover{
    font-size:   0.95rem; /* para hacer la letra un poco más grande al pasar el mouse */
    font-weight: 700; /* para hacer la letra un poco más gruesa al pasar el mouse */
    color: var(--color-hover-btn-incio); /* color de la letra al pasar el mouse */
    transition:  color 0.2s; /* para suavizar el cambio de color */
    background-color: var(--backgorund-hover-btn-incio)
}
