@import "css/header.css";
@import "css/colores.css";
@import "css/footer.css";
@import "css/btn-inicio.css";
@import "css/mascotas.css";
@import "css/contacto.css";
@import "css/proyectos.css";
@import "css/sobre-mi.css";
@import "css/responsive.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-fondo);
    padding: 0px;
}

/*En esta parte del archivo se generan las variables de color utilizadas en las demás páginas para que el cambio de cada elemento de color dentro de las páginas se pueda realizar de manera rápida*/

:root{
    --color-fondo: #00080e;
    --color-texto: white;
    --color-titulos:  #f5c60c;
    --color-fondo-encabezado: #00080e;
    --color-logo:  #f5c60c;
    --color-texto-encabezado: white;
    --color-hover-nav: #f5c60c;
    /*Esto es para el botón de volver a la página principal que está en la página de mascotas.*/
    --backgorund-btn-incio: #f5c60c;
    --color-hover-btn-incio: #f5c60c;
    --backgorund-hover-btn-incio: white;
    /*Esto es para el fondo de las tarjetas*/
    --fondo-tarjeta: #b4aa7e1c;
    /*Esto es para el borde de la imagen del 'hero'*/
    --borde-hero: #f5c60c;
    /* Esto es para el color del borde del encabezado*/  
    --color-borde: white;


/*Este tipo de letra es tomado de google fonts*/
.montserrat-<negrita> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <600>;
    font-style: normal;
}
}
